.DS_Store
*.[oa]
*~
*.mod
*.exe
a.out
salida*
*.log
*.xlsx
.tmpfile
libnetcdf*
02_Aemis2
02_aemis/A*14.csv
02_aemis/ANH3_2014.csv 
index.csv
04_temis/TA*csv
05_semisM/M_*.csv
06_temisM/TM*.csv
06_temisM/GSO4_M.csv
06_temisM/OTHE_M.csv
06_temisM/POA_M.csv
07_puntual/T_ANN*.csv
08_spec/RA*txt
08_spec/SAP*txt
08_spec/CBM05*txt
08_spec/profile_mech.csv
09_pm25spec/*A.txt
09_pm25spec/*P.txt
09_pm25spec/*M.txt
10_storage/wrfc*
Comentarios.docx
Fuentes_de_Area
Informe_19072017.docx
Inventario.Data
Especiacion_2.xlsx
SCCDownload-2017-0728-091707.csv
